# MongoDB Atlas connection string
MONGO_URI=your_mongodb_atlas_uri

# Server port
PORT=5000

# JWT secret key
JWT_SECRET=your_long_random_secret

# Redis connection (Upstash recommended)
REDIS_URL=rediss://default:token@host.upstash.io:6379

# Base URL for short links
BASE_URL=https://trimurl-x10s.onrender.com


